<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Electron-Boiler!</title>
    <link rel="stylesheet" type="text/css" href="./../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./../styles/styles.min.css">    
  </head>
  <body>
    <h1>Electron-Boiler!</h1>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <p><i class="fa fa-cog fa-spin"></i> The application is using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.</p>
    <p><i class="fa fa-info-circle"></i> Running application "<script>document.write(require('electron').remote.getGlobal('config').applicationName)</script>"
    with version <script>document.write(require('electron').remote.getGlobal('config').version)</script>
    in "<script>document.write(require('electron').remote.getGlobal('config').environmentName)</script>" environment. 
    Built from commit <script>document.write('<a href=\"' + require('electron').remote.getGlobal('config').githubrepolink + '">')</script> 
    <code>#<script>document.write(require('electron').remote.getGlobal('config').commithash)</script></code></a>
    located at <script>document.write('<a href=\"' + require('electron').remote.getGlobal('config').gitrepo + '">')</script>
    <script>document.write(require('electron').remote.getGlobal('config').gitrepo)</script></a>.</p>
  </body>
  <script>
    // You can also require other files to run in this process
    require('./app.js');
  </script>
</html>