<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="./../styles/styles.min.css">    
  </head>
  <body>
    <h1>Hello World!</h1>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <p>We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.</p>
    <p>Running application "<script>document.write(require('electron').remote.getGlobal('config').applicationName)</script>"
    with version <script>document.write(require('electron').remote.getGlobal('config').version)</script>
    in "<script>document.write(require('electron').remote.getGlobal('config').environmentName)</script>" environment.</p>
  </body>
  <script>
    // You can also require other files to run in this process
    require('./app.js');
  </script>
</html>